metadata:
  description: >-
    Defaults that can be overwritten in config.yaml.

platform:
  RUN_CMD_FCST: mpirun -n ${PE_MEMBER01} --oversubscribe
  NCORES_PER_NODE: <NCORES_PER_NODE>
  WORKFLOW_MANAGER: rocoto
  #TASKTHROTTLE: 1
  SCHED: slurm
  RUN_CMD_FCST: mpirun -n ${PE_MEMBER01}
  RUN_CMD_POST: mpirun
  RUN_CMD_PRDGEN: mpirun
  RUN_CMD_SERIAL: time
  RUN_CMD_UTILS: mpirun
  PRE_TASK_CMDS: '{ ulimit -a; ulimit -s unlimited; }'
  FIXaer: <UFS_DOMAIN_SELECT_HOME>/build/DATA-3.0.0/fix/fix_aer
  FIXgsm: <UFS_DOMAIN_SELECT_HOME>/build/DATA-3.0.0/fix/fix_am
  FIXlut: <UFS_DOMAIN_SELECT_HOME>/build/DATA-3.0.0/fix/fix_lut
  FIXorg: <UFS_DOMAIN_SELECT_HOME>/build/DATA-3.0.0/fix/fix_orog
  FIXsfc: <UFS_DOMAIN_SELECT_HOME>/build/DATA-3.0.0/fix/fix_sfc_climo
  #FIXshp: $HOME/foo/UFS_domain_select/build/earth/packages/Natural_Earth_quick_start/raster_files
  EXTRN_MDL_DATA_STORES: aws nomads

rocoto:
  tasks:
    metatask_run_ensemble:
      task_run_fcst_mem#mem#:
        cores: '{{ task_run_fcst.PE_MEMBER01 // 1 }}'
        native: '--cpus-per-task {{ task_run_fcst.OMP_NUM_THREADS_RUN_FCST|int }} --exclusive'
        nodes:
        nnodes:
        nodesize:
        ppn:
